html {
  box-sizing: border-box;

  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: $color-dark;
  scroll-behavior: smooth;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button:active, button:focus {
  outline: none !important;
}

h1,h2,h4,h3,h5 {
  margin: 0;
}
