// Colors
$color-primary: #2c62a8;
$color-secondary: #de4d5a;
$color-dark: #494949;
$color-dark-l: #6b6b6b;
$color-primary-l: #3e88e5;


// Fonts
$font-family-primary: 'Roboto', sans-serif;

$font-size-base: 20px;
$line-height-base: 23px;

$font-size-sm: 15px;
$line-height-sm: 24px;

$font-size-xs: 12px;
$line-height-xs: 18px;



// Container
$container-width-lg: 1200px;
$container-width-md: 984px;
$container-width-sm: 728px;



// Breakpoints
// We minus 0.02px from our breakpoints because these breakpoints are for mobile-first but we use desktop-first approach
$breakpoint-lg-down: 1280 - 0.02px;
$breakpoint-md-down: 768px - 0.02px;
$breakpoint-sm-down: 320px - 0.02px;