.benefits {
  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 480px);
    justify-content: center;
    gap: 60px;
  }

  &__card {
    max-width: 480px;
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 15px;

    & > i {
      grid-column: 1;
      grid-row: 1/3;
      width: 30px;
      height: 30px;
      padding: 40px;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      background-color: $color-secondary;
      border-radius: 50%;
      color: #fff;
      font-size: 30px;
    }

    & > h4 {
      font-weight: 500;
    }

    & > p {
      padding-top: 10px;
      font-size: 15px;
      color: $color-dark-l;
    }
  }
}