.hero {
  padding-top: 30px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(158,158,158,1) 100%);

  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__content {
    max-width: 500px;
    padding-top: 70px;
  }

  &__title {
    text-align: left;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 50px;

    & > span {
      display: block;
      padding-top: 20px;
      font-size: 30px;
      color: $color-secondary;

      &:last-child {
        padding-top: 10px;
      }
    }
  }

  &__text {
    font-size: 15px;
    margin-bottom: 30px;
  }

  &__button {
    font-size: 16px;
    padding: 15px 50px;
    font-weight: 500;
  }

  &__img {
    width: 450px;
  }
}