.specialists {
  padding-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-evenly;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__card {
    max-width: 250px;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 17px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 17px 1px rgba(34, 60, 80, 0.2);

    & > img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    & > h5 {
      text-align: center;
    }

    & > p {
      font-size: 16px;
      margin-bottom: 15px;
    }

    & > span {
      font-size: 16px;
      color: $color-secondary;

      & > i {
        margin-right: 10px;
        font-size: 18px;
      }
    }
  }
}