@import "scss/variables.scss";

@import "scss/vendor/normalize.css";

@import "scss/global.scss";
@import "scss/mixins/media-queries.scss";
@import "scss/container.scss";
@import "scss/elements/button.scss";

// Sections
@import "scss/sections/header.scss";
@import "scss/sections/hero.scss";
@import "scss/sections/benefits.scss";
@import "scss/sections/specialists.scss";
@import "scss/sections/footer.scss";
